.features {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .features-heading {
    margin-bottom: 2rem;
  }
  
  .features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
  }
  
  .request-access {
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-family);
    color: #fff;
  }
  
  .features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
